
._main-title {
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 115%;
    color: var(--white);
    text-transform: uppercase;
    margin: 0;

    & span {
        display: block;

        font-size: 1.1rem;
        line-height: 100%;

        @media(min-width: 420px) {
            font-size: 1.48rem;
        }

        @include _768 {
            font-size: 1.85rem;
        }
    
        @include _992 {
            font-size: 2.6rem;
        }
    }

    font-size: 2.5rem;

    @media(min-width: 420px) {
        font-size: 3.375rem;
    }

    @include _768 {
        font-size: 4.25rem;
    }

    @include _992 {
        font-size: 6rem;
    }
}

._title {
    
    font-family: var(--title-font);
    font-weight: 700;

    font-size: 1.125rem;

    @include _768 {
        font-size: 1.5rem;
    }

    @include _992 {
        font-size: 1.875rem;
    }
    
    &._min {

    }
}

._section-title {

    font-family: var(--title-font);
    font-weight: 700;

}

._txt-center {
    text-align: center;
}
